* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 10px;
  gap: 90vh;
  box-shadow: 1px 4px 4px 1px rgba(122, 122, 122, 0.25);
}

.logo {
  padding-top: 30px;
}

.menu {
  margin-left: 30px;
  margin-top: 20px;
}

.menu-faketrigger {
  position: absolute;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

.menu .menu-lines {
  position: absolute;
  z-index: 999;
  width: 35px;
  height: 35px;
}

.menu .menu-lines span {
  display: flex;
  width: 35px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #7d2ae8;
  border-radius: 3px;
  transition: all ease 0.2s;
}

.menu .menu-faketrigger:checked ~ .menu-lines span {
  background-color: white;
  align-self: start;
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1) {
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2) {
  opacity: 0;
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3) {
  transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(1.25);
}

.menu ul {
  position: absolute;
  z-index: 998;
  left: 0;
  top: 0;
  width: 270px;
  height: calc(200vh - 100px);
  padding-top: 100px;
  background-color: #9348f5;
  margin-left: -270px;
  transition: all ease 0.2s;
}

.menu .menu-faketrigger:checked ~ ul {
  margin-left: 0;
}

li {
  display: flex;
}

.menu ul a {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: all ease 0.2s;
}

.menu ul a:hover {
  color: gainsboro;
}

.embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.col {
  place-self: center;
  width: 50vw;
  margin: 1rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 0px lightgray;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

.tutoria-button {
  border-radius: 5px;
  background: #5623af;
  width: 115px;
  height: 35px;
  flex-shrink: 0;
  border: none;
  margin-left: 500px;
  margin-bottom: 50px;
  color: #fff;
}

@media (max-width: 390px) {
}
