* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.Logo {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration-line: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login button {
  border: none;
  border-radius: 5px;
  background: #bcbfff;
  box-shadow: 0px 3px 12px 0px #cbb3da;
  padding: 10px 15px;
}

.login button a {
  text-decoration-line: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-bar {
    padding: 1.5rem 3rem;
  }

  .nav-item {
    margin: 0 10px;
  }

  .nav-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 910px) {
  .nav-bar {
    padding: 1rem 3rem;
  }

  .nav-item {
    display: none;
  }

  .login {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
    align-items: center;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu-icon button img {
    width: 50px;
    height: 50px;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .login {
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
  }

  .mobile-menu .login button {
    width: 100%;
  }

  .open {
    display: block;
  }
}

@media screen and (max-width: 340px) {
  .nav-bar {
    padding: 1rem 3rem;
  }

  #Logo-web {
    display: flex;
    width: 150px;
  }

  .mobile-menu-icon button img {
    width: 30px;
    height: 30px;
    display: flex;
  }
}
