* {
  margin: 0px;
  padding: 0px;
  font-family: Inter;
  font-style: normal;
}

.pag {
  color: #a775ff;
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  padding-top: 42px;
  padding-bottom: 20px;
}

img {
  width: 100%;
  padding-bottom: 14px;
}
.Titulo {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px; /* 156.25% */
  letter-spacing: 0.8px;
  text-transform: uppercase;

  margin-left: 12px;
  margin-top: 10px;
  margin-right: 50px;
}

.info {
  color: #aaa;
  font-size: 12px;
  font-weight: 600;
  line-height: 40px; /* 333.333% */
  letter-spacing: 0.6px;
  text-transform: capitalize;

  margin-left: 25px;
  margin-bottom: 20px;
}

.text {
  color: #000;
  text-align: justify;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.6px;

  margin-left: 17px;
  margin-right: 22px;
  padding-bottom: 36px;
}

.link {
  margin-left: 29px;
  padding-bottom: 40px;
}

ul {
  margin-left: 25px;
}

@media screen and (min-width: 400px) and (max-width: 430px) {
  .text,
  .Titulo {
    margin-left: 30px;
    margin-right: 36px;
    text-align: justify;
  }
  .info {
    margin-left: 45px;
  }
}

@media screen and (min-width: 431px) and (max-width: 500px) {
  .text,
  .Titulo {
    margin-left: 42px;
    margin-right: 36px;
    text-align: justify;
  }
  .info {
    margin-left: 60px;
  }
  .link {
    margin-left: 60px;
  }
}

@media screen and (min-width: 501px) and (max-width: 580px) {
  .text,
  .Titulo {
    margin-left: 52px;
    margin-right: 46px;
    text-align: justify;
  }
  .Titulo {
    font-size: 14px;
  }
  .text {
    font-size: 14px;
  }
  .info {
    margin-left: 70px;
    font-size: 14px;
  }
  .link {
    margin-left: 70px;
    font-size: 14px;
  }
}

@media screen and (min-width: 581px) and (max-width: 640px) {
  .text,
  .Titulo {
    margin-left: 62px;
    margin-right: 56px;
    text-align: justify;
  }
  .Titulo {
    font-size: 14px;
    padding-top: 20px;
  }
  .text {
    font-size: 12px;
  }
  .info {
    margin-left: 80px;
    font-size: 12px;
  }
  .link {
    margin-left: 80px;
    font-size: 12px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 268.2px;
  }
  .ft {
    width: 400px;
    margin: auto;
  }
}

@media screen and (min-width: 641px) and (max-width: 690px) {
  .text,
  .Titulo {
    margin-left: 72px;
    margin-right: 66px;
    text-align: justify;
  }
  .Titulo {
    font-size: 14px;
    padding-top: 20px;
  }
  .text {
    font-size: 12px;
  }
  .info {
    margin-left: 90px;
    font-size: 12px;
  }
  .link {
    margin-left: 90px;
    font-size: 12px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 268.2px;
  }
  .ft {
    width: 400px;
    margin: auto;
  }
}

@media screen and (min-width: 691px) and (max-width: 730px) {
  .text,
  .Titulo {
    margin-left: 72px;
    margin-right: 66px;
    text-align: justify;
  }
  .Titulo {
    font-size: 14px;
    padding-top: 20px;
  }
  .text {
    font-size: 12px;
  }
  .info {
    margin-left: 90px;
    font-size: 12px;
  }
  .link {
    margin-left: 100px;
    font-size: 12px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 268.2px;
  }
  .ft {
    width: 400px;
    margin: auto;
  }
}

@media screen and (min-width: 731px) and (max-width: 790px) {
  .text,
  .Titulo {
    margin-left: 82px;
    margin-right: 76px;
    text-align: justify;
  }
  .Titulo {
    font-size: 14px;
    padding-top: 20px;
  }
  .text {
    font-size: 12px;
  }
  .info {
    margin-left: 100px;
    font-size: 12px;
  }
  .link {
    margin-left: 110px;
    font-size: 12px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 268.2px;
  }
  .ft {
    width: 400px;
    margin: auto;
  }
}

@media screen and (min-width: 731px) and (max-width: 850px) {
  .text,
  .Titulo {
    margin-left: 82px;
    margin-right: 76px;
    text-align: justify;
    line-height: 26px;
  }
  .Titulo {
    font-size: 14px;
    padding-top: 20px;
  }
  .text {
    font-size: 12px;
  }
  .info {
    margin-left: 100px;
    font-size: 12px;
  }
  .link {
    margin-left: 120px;
    font-size: 12px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 301px;
  }
  .ft {
    width: 450px;
    margin: auto;
  }
}

@media screen and (min-width: 851px) and (max-width: 1000px) {
  .text,
  .Titulo {
    margin-left: 120px;
    margin-right: 100px;
    text-align: justify;
    line-height: 22px;
  }
  .Titulo {
    font-size: 16px;
    padding-top: 20px;
    line-height: 28px;
  }
  .text {
    font-size: 14px;
  }
  .info {
    margin-left: 140px;
    font-size: 14px;
  }
  .link {
    margin-left: 140px;
    font-size: 14px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 335px;
  }
  .ft {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1150px) {
  .text,
  .Titulo {
    margin-left: 160px;
    margin-right: 140px;
    text-align: justify;
    line-height: 26px;
  }
  .Titulo {
    font-size: 20px;
    padding-top: 20px;
    line-height: 34px;
    margin-left: 145px;
  }
  .text {
    font-size: 16px;
  }
  .info {
    margin-left: 180px;
    font-size: 14px;
  }
  .link {
    margin-left: 180px;
    font-size: 14px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 335px;
  }
  .ft {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1151px) and (max-width: 1400px) {
  .text,
  .Titulo {
    margin-left: 300px;
    margin-right: 280px;
    text-align: justify;
    line-height: 26px;
  }
  .Titulo {
    font-size: 16px;
    padding-top: 20px;
    line-height: 34px;
    margin-left: 280px;
  }
  .text {
    font-size: 14px;
  }
  .info {
    margin-left: 320px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .link {
    margin-left: 320px;
    font-size: 14px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 335px;
  }
  .ft {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1700px) {
  .text,
  .Titulo {
    margin-left: 340px;
    margin-right: 320px;
    text-align: justify;
    line-height: 26px;
  }
  .Titulo {
    font-size: 16px;
    padding-top: 20px;
    line-height: 34px;
    margin-left: 320px;
  }
  .text {
    font-size: 14px;
  }
  .info {
    margin-left: 360px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .link {
    margin-left: 360px;
    font-size: 14px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 335px;
  }
  .ft {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1900px) {
  .text,
  .Titulo {
    margin-left: 430px;
    margin-right: 410px;
    text-align: justify;
    line-height: 26px;
  }
  .Titulo {
    font-size: 16px;
    padding-top: 20px;
    line-height: 36px;
    margin-left: 410px;
  }
  .text {
    font-size: 14px;
  }
  .info {
    margin-left: 450px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .link {
    margin-left: 450px;
    font-size: 14px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 335px;
  }
  .ft {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1901px) and (max-width: 2100px) {
  .text,
  .Titulo {
    margin-left: 500px;
    margin-right: 480px;
    text-align: justify;
    line-height: 26px;
  }
  .Titulo {
    font-size: 16px;
    padding-top: 20px;
    line-height: 34px;
    margin-left: 480px;
  }
  .text {
    font-size: 14px;
  }
  .info {
    margin-left: 520px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .link {
    margin-left: 520px;
    font-size: 14px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 335px;
  }
  .ft {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 2101px) and (max-width: 2560px) {
  .text,
  .Titulo {
    margin-left: 700px;
    margin-right: 680px;
    text-align: justify;
    line-height: 26px;
  }
  .Titulo {
    font-size: 16px;
    padding-top: 20px;
    line-height: 34px;
    margin-left: 689px;
  }
  .text {
    font-size: 14px;
  }
  .info {
    margin-left: 720px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .link {
    margin-left: 720px;
    font-size: 14px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 335px;
  }
  .ft {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 2561px) and (max-width: 2900px) {
  .text,
  .Titulo {
    margin-left: 680px;
    margin-right: 660px;
    text-align: justify;
    line-height: 26px;
  }
  .Titulo {
    font-size: 16px;
    padding-top: 20px;
    line-height: 34px;
    margin-left: 660px;
  }
  .text {
    font-size: 14px;
  }
  .info {
    margin-left: 700px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .link {
    margin-left: 700px;
    font-size: 14px;
  }
  .fundo {
    background-color: #d9d9d9;
    height: 335px;
  }
  .ft {
    width: 500px;
    margin: auto;
  }
}
