@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import "../../Header/style.css";
@import "../../header_cadas/style.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border-radius: 10px;
  background: #fbfbff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 1400px;
  height: 757px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 55px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.input-container {
  width: 50%;
}

.input-image img {
  width: 186.875px;
  height: 186.875px;
  flex-shrink: 0;
  margin-left: 150px;
}

.input[type="file"] {
  display: none;
}

.picture-span {
  display: flex;
  width: 91px;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #575757;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 200px;
}

.name-container {
  display: flex;
  width: 253px;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #535353;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 150px;
}

.progress-bar {
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  display: flex;
  margin-left: 20px;
}

.dados {
  display: flex;
  width: 253px;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #535353;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15px;
  margin-top: 10px;
}

.rendimento-bar {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 20px;
}

.dados-rendimento {
  display: flex;
  width: 253px;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #535353;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.input-group {
  width: 50%;
}

.input-box label {
  display: flex;
  width: 177px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 35px;
  /* margin-right: 70px; */
}

.input-box input {
  width: 460px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #aaa;
  opacity: 0.3;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.btn-editar {
  display: inline-flex;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #a775ff;
  margin-top: 75px;
  margin-left: 75px;
  border: none;
}

.btn-editar a {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.btn-salvar {
  display: inline-flex;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #aaa;
  margin-top: 75px;
  margin-left: 15px;
  border: none;
}

.btn-salvar a {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.btn-painel {
  display: inline-flex;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #fafafa;
  margin-top: 75px;
  margin-left: 15px;
  border: none;
}

.btn-painel a {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .container {
    display: block;
  }
  .input-container {
    display: block;
  }
}
