@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: "Inter", "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.back-image img {
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-right: 650px;
  margin-bottom: 70px;
}

.semi-title {
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-image {
  width: 50%;
  height: 745px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ca1ff;
  padding: 1rem;
  flex-direction: column;
}

.form-gif {
  width: 25rem;
  height: 25rem;
}

.form {
  width: 50%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid #bcbfff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 387px;
  height: 636px;
  flex-shrink: 0;
  margin: 50px 190px;
}

.form box-shadow {
  justify-content: center;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.form-header h1 {
  display: flex;
  width: 279px;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #bcbfff;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 45px;
}

.input-box input {
  border-radius: 5px;
  border: 1px solid #aaa;
  display: inline-flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.login h5 {
  color: #2f2f2f;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-info a {
  color: #8f8f8f;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.login-button button {
  display: flex;
  height: 37px;
  width: 289px;
  padding: 5px 110px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #bcbfff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  margin: 15px 15px;
}

.login-button button {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: none;
  text-align: center;
  white-space: nowrap;
}

.recuperar-senha {
  color: #8f8f8f;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.login-checkbox {
  margin-top: 10px;
}

.login-checkbox label {
  color: #8f8f8f;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-info h5 {
  color: #2f2f2f;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.division {
  color: #aaa;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 15px 15px;
  text-align: center;
}

.login-image {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin: 5px 150px;
}

.login-image a {
  background: none;
}

@media screen and (max-width: 1300px) {
  .form-image {
    display: none;
  }
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }

  @media screen and (max-width: 320px) {
    .input-box input {
      border-radius: 5px;
      border: 1px solid #aaa;
      display: inline-flex;
      padding: 10px;
      align-items: center;
      gap: 10px;
      width: 75%;
      margin-left: 40px;
    }
    .login-information {
      margin-left: 50px;
    }
  }
}
